/*
Author: Ganapati V S (@Ganapativs)
*/

Corange=#f26c4f  //Orange color - core color
Cblue=#2b4c7e  //Blue color - Links and Action color
Cgreen=#0b8185  //Green color - Major Titles and Action color
Cyellow=#f2c45a  //Yellow color - User interaction and user area color
Cpurple=#452b72  //Purple color - Borders, seperators, Title color
Clightgreen=#0de5a8  //Light green color - Alternate color and minimal usage

/*White variant colors*/
Cff=#fff
Cfc=#fcfcfc
Cfa=#fafafa
Cf1=#f1f1f1
Cf5=#f5f5f5
Ceee=#eee
Cddd=#ddd
Cccc=#ccc
Caaa=#aaa
C999=#999

anim_func=cubic-bezier(0.651, 0.046, 0.406, 1.000)


//Postions functions example
/*absolute: top 150px left 5px*/
/*fixed: top left*/

-pos(type, args)
  i = 0
  position: unquote(type) !important
  {args[i]}: args[i + 1] is a 'unit' ? args[i += 1]  !important : 0
  {args[i += 1]}: args[i + 1] is a 'unit' ? args[i += 1] !important : 0
absolute()
  -pos('absolute', arguments)

fixed()
  -pos('fixed', arguments)

/*vandor prefixes*/

vendors = webkit moz o ms official

border-radius()
  for vendor in vendors
    if vendor == official
        border-radius: arguments
    else
        -{vendor}-border-radius: arguments


transition()
  for vendor in vendors
    if vendor == official
        transition: arguments
    else
        -{vendor}-transition: arguments


filter()
  for vendor in vendors
    if vendor == official
        filter: arguments
    else
        -{vendor}-filter: arguments


animation()
  for vendor in vendors
    if vendor == official
        animation: arguments
    else
        -{vendor}-animation: arguments

transform()
  for vendor in vendors
    if vendor == official
        transform: arguments
    else
        -{vendor}-transform: arguments


box-shadow()
  for vendor in vendors
    if vendor == official
        box-shadow: arguments
    else
        -{vendor}-box-shadow: arguments

.navbar
    border-radius: 3;
    
.padding0
    padding 0
    
label
    text-align left !important
    margin-bottom 0
    
body
    padding-bottom 70px
    
@media screen and (min-width 768px)
    .left_col
        border-right: 1px solid #eee;
        
.submit_btn
    margin-top 20px
    
input,select
    &.form-control
        margin-bottom: 30px;
        
.radio, .checkbox
        margin-bottom: 30px;