/*
Author: Ganapati V S (@Ganapativs)
*/
/*White variant colors*/
/*absolute: top 150px left 5px*/
/*fixed: top left*/
/*vandor prefixes*/
.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.padding0 {
  padding: 0;
}

label {
  text-align: left !important;
  margin-bottom: 0;
  font-size: 15px;
  font-family: "glyphicons halflings",sans-serif;
  font-weight: 600;
}
body {
  padding-bottom: 70px;
  background-color: #EBEB99;
}
@media screen and (min-width: 768px) {
  .left_col {
    border-right: 1px solid #eee;
  }
}
.submit_btn {
  margin-top: 20px;
}
input.text{
    background-color: #B2E0F0;
}

input.form-control,
select.form-control {
  margin-bottom: 30px;
    background-color: #B8FFDB;
}
.radio,
.checkbox {
  margin-bottom: 30px;
}

