<html>
<head>

    <title>BlueShift - Running Jobs</title>
    <link href="https://bootswatch.com/paper/bootstrap.min.css"  rel="stylesheet" type="text/css">
    <link href="http://vitalets.github.io/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
    <link href="css/core.css"  rel="stylesheet" type="text/css">
    <!--<script data-require="angular.js@*" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>-->
    <!--<script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>-->


</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./index.html">BlueShift</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <form class="navbar-form navbar-right hidden-xs" role="search">
                <button type="button" class="btn btn-default">View Running Jobs</button>
            </form>

            <ul class="nav navbar-nav navbar-right visible-xs">
                <li><a href="jobs.html">View Running Jobs</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="container">
    <h4 align="center">Jobs Running Currently</h4>
    <div ng-app="app" ng-controller="Ctrl">
        <table class="table table-bordered table-hover table-condensed">
            <tr style="font-weight: bold">
                <td style="width:35%">Namespace</td>
                <td style="width:20%">Jobname</td>
                <td style="width:20%">Cron Expression</td>
                <td style="width:20%">Last Run Log</td>
                <td style="width:25%">Actions</td>
            </tr>
            <tr ng-repeat="user in rows">
                <td>
                    <!-- editable username (text with validation) -->
        <span  e-name="name" e-form="rowform" onbeforesave="checkName($data)" e-required>
          {{ user.namespace}}
        </span>
                </td>
                <td>
                    <!-- editable status (select-local) -->
        <span  e-name="status" e-form="rowform" onbeforesave="checkJobName($data)" e-required>
          {{ user.jobName }}
        </span>
                </td>
                <td>
                    <!-- editable group (select-remote) -->
        <span editable-text="user.scheduleCronExp" e-name="group" e-form="rowform" onbeforesave="checkCronExpr($data)" e-required>
          {{ user.scheduleCronExp }}
        </span>
                </td>
                <td>
                    <!-- editable group (select-remote) -->
        <span  e-name="groupname" e-form="rowform" >
          <a href="/blueshift/scheduler/status/{{user.namespace}}/{{user.jobName}}" target="_blank">Logs</a>
        </span>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="saveUser(row)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-success">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="glyphicon glyphicon-pencil btn btn-primary" ng-click="rowform.$show()" ><b style="font-family:sans-serif;"> edit</b></button>
                        <button class="glyphicon glyphicon-trash btn btn-danger" ng-click="deleteRow($index)"><b style="font-family:sans-serif;"> delete</b></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>


<script src="https://bootswatch.com/bower_components/jquery/dist/jquery.min.js"></script>
<script src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="http://vitalets.github.io/angular-xeditable/dist/js/xeditable.js"></script>
<script src="js/jobs.js"></script>
</body>
</html>